# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/logs
/instantclient
/wallet

# production
/build
__pycache__
.old_instantclient
.old_wallet

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


wallet_zip/Wallet_CBDCAuto.zip
instantclient_zip/instantclient-basic-linux.x64-21.12.0.0.0dbru.zip
instantclient_zip/instantclient-sdk-linux.x64-21.12.0.0.0dbru.zip