.admin-list {
    display: flex;
    width: 100%;
    .listContainer {
        flex: 6;
        
    }
}

.dataTableContainer {
    position: relative;
  }
  
.fetchButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Adjust as needed */
    /* Additional button styling */
}