/* Admin Sidebar */
.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
  }
  /* Sidebar Top */
  .sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar .top .logo {
    font-size: 20px;
    font-weight: bold;
    color: #6439ff;
  }
  
  .sidebar hr {
    height: 0;
    border: 0.5px solid rgb(242, 237, 237);
  }
  
  /* Sidebar Center Elements */
  .sidebar .center {
    padding-left: 10px;
  }
  
  .sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar .center ul .title {
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sidebar .center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #ece8ff;
    }
  
    .icon {
      font-size: 18px;
      color: #7451f8;
    }
  }
  
  .sidebar .center ul li span {
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
  }